name: "sticky-recorder"
listen: ":8080"
db: /data/overseer.db

task_pool:
  limit: 8
  queue:
    enabled: true
    size: 100

actions:
  chaturbate:
    type: exec
    dedupe_key: ["source"]
    retry:
      restart_delay: "30s"
      error_threshold: 0
      error_window: "0s"
    config:
      entrypoint: sticky-recorder
      command:
        - "-d"
        - "chaturbate"
        - "-s"
        - "[[.source]]"
        - "-r"
        - "[[.resolution]]"
        - "-f"
        - "[[.framerate]]"
        - "-c"
        - "[[.cookies]]"
        - "-a"
        - "[[.user_agent]]"
        - "-o"
        - "/data/recordings/{{.Driver}}/{{.Source}}/{{.Session.Year}}-{{.Session.Month}}-{{.Session.Day}}_{{.Session.Hour}}-{{.Session.Minute}}-{{.Session.Second}}/{{.Recording.Year}}-{{.Recording.Month}}-{{.Recording.Day}}_{{.Recording.Hour}}-{{.Recording.Minute}}-{{.Recording.Second}}"
        - "-i"
        - "1m"
        - "--output-format"
        - "json"
      parameters:
        source: {}
        resolution:
          default: "1080"
          validate: 'value in ["480", "720", "1080"]'
        framerate:
          default: "30"
          validate: 'value in ["30", "60"]'
        cookies:
          default: ""
        user_agent:
          default: ""
      output:
        stdout:
          condition: "has(output.json.event)"
        stderr:
          condition: "false"

  stripchat:
    type: exec
    dedupe_key: ["source"]
    retry:
      restart_delay: "30s"
      error_threshold: 0
      error_window: "0s"
    config:
      entrypoint: sticky-recorder
      command:
        - "-d"
        - "stripchat"
        - "-s"
        - "[[.source]]"
        - "-r"
        - "[[.resolution]]"
        - "-f"
        - "[[.framerate]]"
        - "-c"
        - "[[.cookies]]"
        - "-a"
        - "[[.user_agent]]"
        - "-o"
        - "/data/recordings/{{.Driver}}/{{.Source}}/{{.Session.Year}}-{{.Session.Month}}-{{.Session.Day}}_{{.Session.Hour}}-{{.Session.Minute}}-{{.Session.Second}}/{{.Recording.Year}}-{{.Recording.Month}}-{{.Recording.Day}}_{{.Recording.Hour}}-{{.Recording.Minute}}-{{.Recording.Second}}"
        - "-i"
        - "1m"
        - "--output-format"
        - "json"
      parameters:
        source: {}
        resolution:
          default: "1080"
          validate: 'value in ["480", "720", "1080"]'
        framerate:
          default: "30"
          validate: 'value in ["30", "60"]'
        cookies:
          default: ""
        user_agent:
          default: ""
      output:
        stdout:
          condition: "has(output.json.event)"
        stderr:
          condition: "false"
